body {
  height: 400px;
  background-image: ("./fondo 4us_Mesa de trabajo 1.jpg");
  background-size: cover;
  background-repeat:repeat;
  background-position: center center; 
}
.form {
    width: 30%;
    margin: 0 auto;
}

.navbar-brand {
    color: #ffffff;
}

img {
    height: 500px;
}

#logo {
  height: 50px;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
  }
  
  #pagina {
    position: relative;
    min-height: 100%;
  }
  
  #contenido {
    padding-bottom:100px; /* este valor debe ser igual o mayor al alto del pie */
  }
  
  #pie {
    height:200px;
    line-height:200px;
    background:#386641;
    color:white;
    text-align:center;
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
  }
  
  #texto {
  <p align ="center" > 4us es un tacho de reciclaje inteligente cuyo principal 
  objetivo es impulsar a los más chicos a que implementen esta indispensable 
  acción para mejorar el lugar donde vivimos </p>
  }

  #carousel-inner:over {



  }